#{extends 'ManageWebsite/tpl.html' /}
#{set title:'管理页面' /}
#{set 'moreScripts'}

#{/set}
<br>
<br>
<br>
<!-- <p>${nickName}</p>

登陆成功！！！

<p></p>
<p><a href="@{ManageWebsite.writeDataToDB()}">若数据库没数据，请点这里，每个用户只能点一次！</a></p>
<p><a href="@{ManageWebsite.writeArticle()}">写文章</a></p>
<p><a href="@{ManageWebsite.showArticles(0)}">查看全部文章</a></p>
<p><a href="@{ManageWebsite.uploadImagesPage()}">上传图片</a></p>
<p><a href="@{ManageWebsite.showImages(0)}">查看最近图片</a></p>
<p><a href="@{ManageWebsite.showOperationLogs(0)}">查看最近操作</a></p> -->
<div class="container-fluid">
 <div class="row-fluid">
 	 <div class="hero-unit">
        <h1>登录成功</h1>
        <p class="lead">请选择功能模块</p>
      </div>
   </div>
   </div>
