#{extends 'editor_main.html' /}
#{set title:'写文章' /}


<script type="text/javascript">
    function addImage(){
        var fileInput = document.createElement("p");
        fileInput.innerHTML="aaafff";
        document.getElementById("uploadImage").appendChild(fileInput);
    }

</script>


<div id="uploadImage">
    
</div>
<!-- <input type="button" value="添加图片" onclick="addImage()"> -->





<form method="post" action="@{ManageWebsite.publishArticle()}">
<fieldset><legend contenteditable="true"></legend>
<span>标题</span><input placeholder="Type something…" name="title" type="text" /> <br />
<span>类型</span><input placeholder="Type something…" name="articleType" type="text" /> <br />
<span>来源</span><input placeholder="Type something…" name="articleFrom" type="text" /> <br />
<textarea name="content" rows="20" cols="80"></textarea>
 <!-- 加载编辑器的容器 -->
    <script id="container" name="content1" type="text/plain">
        这里写你的初始化内容
    </script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="/public/ueditor1_4_3-utf8-jsp/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/public/ueditor1_4_3-utf8-jsp/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>
<!-- <textarea name="content" id="article_content" cols="30" rows="10"></textarea> -->
<button class="btn" contenteditable="true" type="submit">提交</button></fieldset>
</form>
<br/>



<button onclick="showMessage()">button</button>



</script>