#{extends 'ManageWebsite/articletpl.html' /}
#{set title:'写文章' /}
#{set writearticle:'active' /}

#{set 'moreStyles' }
<!-- 配置文件 -->
   

#{/set}
#{set 'moreScripts'}
<script type="text/javascript" src="/public/javascripts/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/public/javascripts/ueditor.all.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/zh-cn.js"></script>
#{/set}



<script type="text/javascript">
    function addImage(){
        var fileInput = document.createElement("p");
        fileInput.innerHTML="aaafff";
        document.getElementById("uploadImage").appendChild(fileInput);
    }

</script>
<form method="post" action="@{ManageWebsite.publishArticle()}">
	<legend contenteditable="true"></legend>
<span>标题</span><input placeholder="Type something…" name="title" type="text" /> <br />
<span>类型</span><input placeholder="Type something…" name="articleType" type="text" /> <br />
<span>来源</span><input placeholder="Type something…" name="articleFrom" type="text" /> <br />
<script id="container" name="content" type="text/plain">
        这里写你的初始化内容
    </script>
    <br>
    <button class="btn" contenteditable="true" type="submit">提交</button>
   </form>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container');
        
    </script>