<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<html>
    <head>
        <title>华农侨联</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/gdql.css'}">
        #{get 'moreStyles' /}
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <div class="wrap">
        	<!--导航栏一块-->
 <div id="header">
   
  <img src="http://www.gdql.org/images/images2/index1012_02.jpg"/>

 <div id="header_right">
    <div id="header_top">
       <p>简体版</p>
       <a href="#" title="點擊以繁體中文方式瀏覽">繁體中文</a>
    </div>
 
    <div id="header_navibar">
     <ul>
        <li><a href="#">首页</a></li>
        <li><a href="#">侨联简介</a></li>
        <li><a href="#">侨联章程</a></li>
        <li><a href="#">侨联领导</a></li>
        <li><a href="#">侨联机构</a></li>
        <li><a href="#">基层侨联</a></li>
        <li><a href="#">省情介绍</a></li>
        <li><a class="last" href="#">OA平台</a></li>
     </ul>
    </div>
 </div>

 </div>
<div id="pagefoot">
	   <div id="pagefoot-top">
	   	   <img src="http://www.gdql.org/images/images2/bs.jpg"  />
           <div id="footword">
           	  <p>广东省归国华侨联合会 版权所有 Copyright2004</p>
           	  <p>地址：广州市体育东路140-148号南方证券大厦23楼</p>
           	  <p>Guangdong province Returned Overseas Chinese Association</p>
           </div>
	   </div>
	   <div id="pagefoot-bottom">
	   	   您是本站第
	   	    <img src="http://www.gdql.org/webjsq/images/5/1.gif"/>
	   	    <img src="http://www.gdql.org/webjsq/images/5/1.gif"/>
	   	    <img src="http://www.gdql.org/webjsq/images/5/1.gif"/>
	   	    <img src="http://www.gdql.org/webjsq/images/5/1.gif"/>
	   	    <img src="http://www.gdql.org/webjsq/images/5/1.gif"/>
	   	    <img src="http://www.gdql.org/webjsq/images/5/1.gif"/>
	   	    <img src="http://www.gdql.org/webjsq/images/5/1.gif"/>
	   	   位客人(*^__^*) 
	   	   
	   </div>
</div><!--pagefoot-->
  

</div><!--wrap-->
</body>
</html>